<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="pm.eclipse.lean.target2">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2021-03/"/>
			<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.1100.v20210209-1541"/>
			<unit id="org.eclipse.equinox.sdk.feature.group" version="3.22.0.v20210227-0235"/>
			<unit id="org.eclipse.platform.feature.group" version="4.19.0.v20210303-1800"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2021-03/"/>
			<unit id="org.eclipse.egit.feature.group" version="5.11.0.202103091610-r"/>
			<unit id="org.eclipse.jgit.feature.group" version="5.11.0.202103091610-r"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2021-03/"/>
			<unit id="org.eclipse.jdt.feature.group" version="3.18.700.v20210303-1800"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2021-03/"/>
			<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.21.0.v202012212201"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2021-03/"/>
			<unit id="org.eclipse.m2e.feature.feature.group" version="1.17.2.20210219-1922"/>
			<unit id="org.eclipse.m2e.wtp.feature.feature.group" version="1.4.4.20201128-1705"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2021-03/"/>
			<unit id="org.eclipse.jst.web_core.feature.feature.group" version="3.21.0.v202101130222"/>
			<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.21.0.v202101180039"/>
			<unit id="org.eclipse.jst.web_userdoc.feature.feature.group" version="3.6.1.v201908261515"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2021-03/"/>
			<unit id="org.eclipse.jst.server_adapters.ext.feature.feature.group" version="3.4.100.v202102111918"/>
			<unit id="org.eclipse.jst.server_adapters.feature.feature.group" version="3.2.600.v202007170127"/>
			<unit id="org.eclipse.jst.server_core.feature.feature.group" version="3.4.400.v202011161356"/>
			<unit id="org.eclipse.jst.server_ui.feature.feature.group" version="3.4.400.v202007170127"/>
			<unit id="org.eclipse.jst.server_userdoc.feature.feature.group" version="3.3.300.v201901310132"/>
		</location>
	</locations>
</target>