<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="lean_eclipse" sequenceNumber="9">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="3.8.700.v20200207-2156"/>
<unit id="org.eclipse.equinox.sdk.feature.group" version="3.20.100.v20200303-1901"/>
<unit id="org.eclipse.platform.feature.group" version="4.15.0.v20200305-0155"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.15"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.18.300.v20200305-0155"/>
<repository location="https://download.eclipse.org/releases/2020-03/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.m2e.feature.feature.group" version="1.15.0.20200310-1832"/>
<repository location="https://download.eclipse.org/releases/2020-03/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jst.web_core.feature.feature.group" version="3.15.0.v201908261515"/>
<unit id="org.eclipse.jst.web_ui.feature.feature.group" version="3.15.0.v201908261515"/>
<unit id="org.eclipse.jst.web_userdoc.feature.feature.group" version="3.6.1.v201908261515"/>
<repository location="https://download.eclipse.org/releases/2020-03/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jst.enterprise_ui.feature.feature.group" version="3.16.0.v201910241808"/>
<repository location="https://download.eclipse.org/releases/2020-03/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.egit.feature.group" version="5.7.0.202003110725-r"/>
<unit id="org.eclipse.jgit.feature.group" version="5.7.0.202003110725-r"/>
<repository location="https://download.eclipse.org/releases/2020-03/"/>
</location>
</locations>
</target>
